{% block file_document_widget %}
    {{ block('file_document_widget_partial_block') | spaceless }}
{% endblock %}

{% block file_document_widget_partial_block %}
    {% set placeholderText = (file is not empty)
        ? file.clientOriginalName
        : file_placeholder
    %}

    <div class="form-group file-upload-widget">
        <a class="btn btn-success file-upload-button">
            <i class="fa fal {{ button_icon }}"></i> {{ button_text }}
            {{ form_widget(form) }}
        </a>
        <span data-placeholder="{{ placeholderText | escape('html_attr') }}">
        {{ placeholderText }}
        </span>
    </div>
{% endblock %}
